<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<form action="api/test/submit" method="POST">
    <input id="text-id" type="text" name="id">
    <button id="text-btn" type="submit">Submit</button>
</form>